.box {
  padding: .5rem;
  cursor: pointer;
}

.level:not(:last-child) {
  margin-bottom: .15rem;
}

/* .level-item{
  justify-content: left;
} */

@media screen and (max-width: 768px) {

  .level-item:not(:last-child) {
    margin-bottom: .10rem
  }
}

li {
  padding: 0;
  list-style-type: none;
}

.content ul {
  margin-left: 0px;
}




/* @media (max-width: 1080px), screen and (min-width: 769px ) {

  .tile.is-8 {
    width: 100%;
  }
  .tile {
    width: 100%;
  }
} */
